@import '_partials/_normalize';
@import '_partials/_variables';


html {
  box-sizing: border-box;
  height: 100%;
  font-size: 16px;
	@media (max-width: 900px) {
	 	font-size: 5px;
	} 
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}


body {
	font-family: 'Montserrat', Helvetica, sans-serif;
	background-color: rgb(155, 89, 182);
	color: white;
	text-align: center;
}

h1 {
	text-transform: uppercase;
	font-size: 9.2rem;
	margin: 7.5rem 10rem;
	line-height: 9.7rem;
}

a {
	text-decoration: none;
	color: white;
}

a.button {
	padding: 3rem;
	background-color: rgba(white, 0.97);
	border-radius: 5px;
	color: rgb(155, 89, 182);
	font-size: 1.5rem;
	text-decoration: none;
	display: inline-block;
	transition: all 0.35s;
	margin-bottom: $margin;
	@media (max-width: 900px) {
	 	font-size: 4rem;
	} 
	&:hover {
		box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
		color: rgba(113, 59, 135, 1);
		background-color: white;
	}
}

p {
	margin-bottom: 3rem;
	opacity: 0.25;
	@media (max-width: 900px) {
	 	font-size: 2.5rem;
	} 
}
